.community-identity {
	background: white;
}

.avatar {
	width: 100%;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0.75rem var(--side-padding, 1rem) 0;
}

.display-name {
	flex: 1 1 auto;
	font-size: 1.25rem;
	line-height: 1.3;
	font-weight: 600;
	color: var(--primary-grey);
}

.edit {
	color: var(--secondary-grey);
	cursor: pointer;
	padding: 0 var(--side-padding, 1rem);
}

.edit-label,
.edit-icon {
	vertical-align: middle;
}

.edit-label {
	font-size: 0.875rem;
	font-weight: 600;
}

.about {
	margin-top: 0.625rem;
	padding: 0 var(--side-padding, 1rem) 1.25rem;
	color: var(--primary-grey);
	line-height: 1.3;
}

.show-options {
	font-size: 1.25rem;
	line-height: 1.3;
	display: inline-block;
	padding-left: var(--side-padding, 1rem);
	cursor: pointer;
}