.community-sidebar {
	background: white;
	position: sticky;
	overflow: hidden;
	top: var(--community-sidebar-top-offset, 0);

	--side-padding: 1rem;
}

.side-bar-members {
	padding: 0 var(--side-padding, 1rem);
}
