.community-member {
	padding: 0.625rem var(--side-padding, 1.5rem);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.community-member.selected {
	background: rgba(63, 179, 246, 0.05);
}

.community-member :global(.checkbox-component) {
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-right: 25px;
}

.community-member :global(label.checkbox-component input[type=checkbox] + span.label::before) {
	width: 20px;
	height: 20px;
}

.member-identity {
	flex: 1 1 auto;
}

.member-actions {
	list-style: none;
	padding: 0;
	margin: 0;
}

.member-actions li {
	padding: 0;
	margin: 0;
}

.member-action,
.member-action:global(.nti-button.primary) {
	display: block;
	background: none;
	padding: 0.5rem 1.2rem;
	font-size: 0.875rem;
	line-height: 1.3;
	color: var(--secondary-grey);
}

.member-action:global(.nti-button.primary).remove-member {
	color: var(--primary-red);
}