@import "~@nti/style-common";

.profile-about-frame {
	display: grid;
	grid-template-columns: 1fr minmax(250px, 25%);
	grid-gap: 5px;

	@include respond-to(handhelds) {
		display: block;
	}

	.profile-about-frame-content {
		.user-profile-card {
			@mixin cardBorder ($color: transparent) {
				box-shadow: inset 5px 0 0 0 $color;
			}

			$colors: (
				#fc9f77,
				#fdcf61,
				#7ecfc8,
				#c671c1
			);

			$length: length($colors);

			@for $i from 1 through $length {
				$color: nth($colors, $i);

				&:nth-child(#{$length}n + #{$i}) {
					@include cardBorder($color);
				}
			}
		}
	}
}
