.profile-about-frame {
	display: grid;
	grid-template-columns: 1fr minmax(250px, 25%);
	grid-gap: 5px;

	.user-profile-card {
		@mixin cardBorder ($color: transparent) {
			box-shadow: inset 5px 0 0 0 $color;
		}

		@include cardBorder();

		@each $selector, $color in (
			about: #fc9f77,
			education: #fdcf61,
			positions: #7ecfc8,
			interests: #c671c1
		) {
			&.#{$selector} {
				@include cardBorder($color);
			}
		}
	}
}
