.select-menu {
	padding: 0.75rem;
}

.select-menu > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.select-menu > ul > li {
	box-shadow: inset 0 -1px 0 0 var(--border-grey-light);
	margin: 0;
	padding: 0;
}

:global(.flyout-inner) .select-menu > ul > li:last-of-type {
	box-shadow: none;
}

.header {
	font-size: 0.75rem;
	font-weight: 600;
	color: var(--tertiary-grey);
	text-transform: uppercase;
}

.select-menu-item {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.3;
	color: var(--primary-grey);
	padding: 0.875rem 1rem 1rem 1.675rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.select-menu-item .check-mark {
	color: var(--primary-blue);
	font-size: 1.125rem;
	margin: 0 0.25rem;
}

.select-menu-item.selected {
	padding-left: 0;
}
