@import "~@nti/style-common/all.scss";
@import "~@nti/web-commons/lib/index.css";

body {
	background-color: cornflowerblue;
	color: $primary-grey;
}

#content {
	max-width: 1024px;
	margin: 2rem auto;
}
