.user-token-select {
	padding: 0 0.625rem;
}

:global(.nti-token) .selector-token :global(.nti-profile-identity-list-item-avatar-container) {
	display: none;
}

:global(.nti-token) .selector-token :global(.nti-profile-identity-list-item-name) {
	padding: 0.25rem 0;
}

:global(.nti-token) .selector-token :global(.nti-profile-identity-list-item-meta) {
	display: none;
}
