.nti-profile-schema-change-confirmation-dialog {
	.modal-content {
		width: 100%;
	}

	.schema-change-confirmation {
		width: 100%;
		max-width: 640px;
		background: white;

		> header {
			padding: 2rem;
		}
	}
}
