@import "~@nti/style-common";

.nti-profile-header {
	$gap: 1.25rem;
	$smallAvatar: 48px;

	display: grid;
	grid-template-columns: 180px auto 1fr; // avatar, user info, social
	grid-template-rows: 1fr auto; // make the first row fill the space above the nav
	column-gap: $gap; // push user info away from avatar, social away from right edge; this could be done with padding.
	align-items: center;
	background-color: rgba(35, 35, 35, 0.7);
	color: white;
	margin-bottom: 5px;

	@include respond-to(handhelds) {
		display: block;
		padding: 0.5rem 0.5rem 0;
	}

	.avatar-container {
		width: 180px;
		height: 180px;
		grid-row: span 2;
		display: block; // IE needs this

		@include respond-to(handhelds) {
			float: left;
			margin-right: 1rem;
			max-width: $smallAvatar;
			max-height: $smallAvatar;
		}

		.avatar {
			width: 100%;
			display: block;
		}
	}

	.profile-head-summary {
		align-self: start;
		margin-top: 1.5rem;
		overflow: hidden;

		.is-ie & {
			grid-column: 2; // IE doesn't auto-flow grid content, requires explicit placement
			padding-left: $gap; // IE ignores grid-gap, so we're padding to push away from the avatar

			@include respond-to(handhelds) {
				padding-left: 0;
			}
		}

		@include respond-to(handhelds) {
			margin-top: 0;

			.username-wrapper {
				min-height: $smallAvatar;
			}
		}
	}

	.social-links {
		justify-self: end;

		.is-ie & {
			grid-column: 3; // IE doesn't auto-flow grid content, requires explicit placement
			-ms-grid-row-align: center;
			margin-right: $gap;
		}
	}

	nav {
		grid-column: 2/end;
		align-self: end;
		margin-left: -$gap;

		.is-ie & {
			grid-column: 2; // IE doesn't auto-flow grid content, requires explicit placement
			-ms-grid-column-span: 2;
			margin-left: 0; // IE ignores grid-gap, so we don't need to pull left
		}

		@include respond-to(handhelds) {
			margin: 0.5rem -0.5rem 0;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
