@import '~@nti/style-common';

.profile-header-nav {
	background-color: rgba(0, 0, 0, 0.2);

	.show-remaining-items {
		&::before {
			color: var(--tertiary-grey);
			font-weight: 400;
		}

		&.active::before {
			color: white;
			font-weight: 600;
		}
	}
}
