@import "~@nti/style-common";

.social-links {
	display: flex;

	> * {
		flex: 0 0 auto;
	}

	.social {
		width: 42px;
		height: 42px;
		display: block;
		margin: 0 5px;
		opacity: 0.5;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background-size: contain;
		transition: opacity 0.2s;

		@include respond-to(handhelds) {
			width: 2rem;
			height: 2rem;
		}

		&:hover {
			opacity: 1;
		}

		@each $class, $image in (
			twitter: 'social-twitter.png',
			facebook: 'social-facebook.png',
			googleplus: 'social-google.png',
			linkedin: 'social-linkedin.png',
			instagram: 'social-instagram.png'
		) {
			&.#{$class} {
				background-image: url('./assets/#{$image}');
			}
		}
	}
}
