.channel-list > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.channel-list > ul > li {
	margin: 0;
	padding: 0;
}

.channel {
	display: block;
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.3;
}

.channel-header {
	padding: 0.5rem var(--side-padding, 1rem);
	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1.3;
	color: var(--secondary-grey);
	text-transform: uppercase;
}

.list .channel-list + .channel-list {
	margin-top: var(--side-padding, 1rem);
}

.list .channel {
	color: var(--secondary-grey);
	padding: 0.875rem 0.625rem 1rem var(--side-pading, 1rem);
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.list .channel .channel-label {
	flex: 1 1 auto;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list .channel.active {
	color: white;
	background-color: var(--primary-blue);
	box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.15);
}

:global(.no-touch) .list .channel-report {
	visibility: hidden;
}

:global(.no-touch) .list .channel:hover .channel-report,
:global(.no-touch) .list .channel:hover .channel-report:hover {
	visibility: visible;
	color: white;
}


.row {
	display: flex;
	flex-direction: row;
	padding: 0 var(--side-padding, 1rem) var(--side-padding, 1rem);
	overflow: auto;
}

.row .channel-list:first-of-type:not(:last-of-type) {
	margin-right: var(--side-padding, 1rem);
	box-shadow: 1px 0 0 0 var(--border-grey-light);
}

.row .channel-list > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.row .channel {
	color: var(--primary-blue);
	padding: 0.5rem 1rem;
	white-space: nowrap;
}

.row .channel::after {
	content: attr(data-title);
	display: block;
	font-weight: 600;
	height: 0px;
	color: transparent;
	overflow: hidden;
	visibility: hidden;
}

.row .channel.active {
	font-weight: 600;
	border-radius: 25px;
	box-shadow: inset 0 0 0 1px var(--primary-blue);
}

