.community-edit-form {
	position: relative;
}

.form-body {
	padding: 2.5rem 1.5rem;
	overflow: auto;
}

.channel-lists {
	margin-top: 3rem;
}

.saving-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.community-edit-form :global(.dialog-buttons) {
	background: white;
	position: sticky;
	bottom: 0;
}
