.community-desktop {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 20px;
}

.community-desktop-sidebar {
	flex: 0 0 auto;
	width: 334px;
	margin-right: 10px;
}

.community-desktop-body {
	max-width: 680px;
}
