.community-mobile {
	max-width: 680px;
	margin: 0 auto;
}

.header {
	background: white;
}

.mobile-channel-header {
	border-radius: 0;
	box-shadow: none;
	box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.1);
}
