.nti-profile-editor.editor {
	min-height: 112px;
	margin-top: 10px;
	display: inherit; // legacy webapp css sets display:none

	.DraftEditor-root.DraftEditor-root {
		font-size: 0.875rem;
		padding: 0.25em;
	}
}
