.nti-profile-experience-item {
	display: block;

	@supports (display: grid) {
		display: grid;
		grid-template: auto / 1fr 70px 70px;
		grid-gap: 0.5rem 0.875rem;
		align-items: flex-end;
	}

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	.nti-profile-field-container {
		grid-column: 1 / -1;
		margin-bottom: 0;

		@supports not (display: grid) {
			margin-bottom: 0.5rem;
		}

		&.role {
			grid-column: 1 / 2;
		}

		&.year {
			grid-column: auto;
		}

		.nti-profile-field-label {
			margin-top: 0;
		}

		.nti-profile-editor {
			margin-top: 2px;
		}

		&.organization {
			input {
				font-weight: 700;
			}
		}

		.DraftEditor-root {
			font-style: italic;
			font-size: inherit;
		}
	}
}
