@import '~@nti/style-common';

.nti-profile-field-container {
	@mixin fieldborder {
		border: 1px solid #e8e8e8;
		box-shadow: none;
		transition: border 0.375s;

		&:focus,
		&:focus-within {
			border-color: var(--tertiary-grey);
		}

		&:invalid {
			border-color: var(--primary-red);
		}
	}

	margin-bottom: 0.625rem;

	&.required > .nti-profile-field-label {
		&::after {
			content: '*';
			color: var(--primary-red);
		}
	}

	input:not([type='radio']):not([type='checkbox']) {
		background: white;
		color: var(--primary-grey);
		border: 1px solid #e8e8e8;
		line-height: 1.5em;
		padding: 0.25em;
		min-height: 34px;
		font-size: 0.875rem;
		width: 100%;

		&::placeholder {
			color: var(--tertiary-grey);
		}

		@include fieldborder;
	}

	.nti-labeled-input .label {
		color: var(--tertiary-grey);
		font-weight: 600;
		margin-top: 1em;
	}

	.nti-labeled-input.required .label::after {
		content: '*';
		color: var(--primary-red);
	}

	.nti-profile-editor {
		@include fieldborder;
	}

	.nti-profile-html-input {
		@include fieldborder;

		.nti-profile-editor {
			border: none;
			margin-top: 2px;
		}
	}
}
