.nti-profile-interest-list {
	.nti-profile-field-list-values {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;

		> * {
			position: relative;
			margin-bottom: 0; // override declaration in List.scss

			input {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0.75em 25px 0.75em 0.75em;
				font-weight: 600;
				background: #f4f4f4;
				box-shadow: 0 0 0 1px #e8e8e8;
			}
		}
	}
}
