@import "~@nti/style-common";

.nti-profile-field-list {
	.nti-profile-field-list-values {
		list-style: none;
		padding: 0;
		margin: 0;

		> * {
			position: relative;
			margin-bottom: 3rem;
			padding-top: 10px;

			&:last-child {
				margin-bottom: 1rem;
			}

			.remove {
				position: absolute;
				top: 0;
				right: 0;
				color: var(--tertiary-grey);
				cursor: pointer;

				&:hover + * {
					background-color: var(--quad-grey);
					box-shadow: 20px 0 0 6px var(--quad-grey), -10px 0 0 6px var(--quad-grey);
				}
			}
		}
	}
}
