@import "~@nti/style-common";

.nti-profile-field-list {
	.nti-profile-field-list-values {
		list-style: none;
		padding: 0;
		margin: 0;

		> * {
			position: relative;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 1rem;
			}

			.remove {
				position: absolute;
				top: 0;
				right: -20px;
				color: $tertiary-grey;
				cursor: pointer;

				&:hover + * {
					background-color: $quad-grey;
					box-shadow: 20px 0 0 6px $quad-grey, -10px 0 0 6px $quad-grey;
				}
			}
		}
	}
}
