.nti-profile-field-list {
	.nti-profile-field-list-values {
		list-style: none;
		padding: 0;
		margin: 0;

		> * {
			position: relative;

			.remove {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
