.avatar-input {
	position: relative;
}

.edit-avatar:global(.nti-button) {
	position: absolute;
	top: 1rem; bottom: auto;
	left: auto; right: 0.625rem;
	padding: 6px 12px;
	background-color: rgba(51, 51, 51, 0.92);
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.edit-avatar i {
	opacity: 0.4;
	margin-right: 0.5rem;
	font-size: 1.125rem;
}

.edit-avatar .change {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.3;
}