.user-community-card {
	float: left;
	height: 70px;
	width: 100%;
	cursor: pointer;
	background: white;
	position: relative;
	display: flex;
	align-items: center;

	.avatar {
		width: 70px;
		height: 70px;
	}

	.title-container {
		padding: 0 10px;
		text-transform: uppercase;
		font: normal 700 1em/1em "Open Sans Condensed", "Open Sans", sans-serif;
		color: #494949;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
