@import '~@nti/style-common';

.certificate-progress-container {
	display: flex;

	.certificate-progress {
		height: 6px;
		width: 200px;
		position: relative;
		background-color: #ccc;
		border-radius: 20px;
		margin-top: 4px;

		.bar {
			background-color: $primary-green;
			border-radius: 20px;
			position: absolute;
			height: 6px;
		}
	}

	.certificate-progress-label {
		font-size: 10px;
		color: var(--tertiary-grey);
		margin-left: 10px;
	}
}
