@import '~@nti/style-common';

$header-ranges: (
	one-column: (null, 574px),// 455 + 16 padding * 2
	two-column: (575px, null)
);

.nti-profile-certificates {
	.content {
		.items-container {
			@include responsive-range(two-column, $header-ranges) {
				&.completed {
					.certificate-list {
						.certificate-preview {
							margin: 20px 0 0 19px;
						}
					}
				}
			}

			.certificate-preview {
				margin: 20px 20px 0 0;
				width: 226px;

				.preview-image {
					width: 100%;
					height: 174px;
					border: solid 1px #ddd;
					cursor: pointer;
					background-image: url('./assets/cert-preview.png');
				}

				.course-title {
					font-size: 16px;
					line-height: 18px;
					font-weight: bold;
					text-transform: uppercase;
					color: $primary-grey;
					font-family: "Open Sans Condensed", sans-serif;
					margin: 11px 0 15px;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.completed-date {
					font-size: 10px;
					color: $tertiary-grey;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			&.in-progress {
				.certificate-list {
					.certificate-preview {
						.preview-image {
							opacity: 0.5;
							pointer-events: none;
						}

						.course-title {
							color: $tertiary-grey;
						}
					}
				}
			}
		}
	}
}
