@import '~@nti/style-common';

$header-ranges: (
	one-column: (null, 574px),// 455 + 16 padding * 2
	two-column: (575px, null)
);

.nti-profile-certificates {
	background-color: white;
	color: $primary-grey;

	@include responsive-range(two-column, $header-ranges) {
		padding: 25px 20px;
		min-width: 400px;
	}

	.header {
		font-size: 24px;
		font-weight: 300;
		border-bottom: solid 1px #ddd;
		padding-bottom: 10px;
	}

	@include responsive-range(two-column, $header-ranges) {
		.content {
			display: flex;
		}
	}

	.content {
		.certificates-container {

			@include responsive-range(two-column, $header-ranges) {
				width: 50%;
				padding: 10px 0;

				.certificate-list {
					display: flex;
					flex-wrap: wrap;
				}

				.empty-state {
					font-size: 14px;
					font-weight: 400;
					color: $tertiary-grey;
					font-style: italic;
					text-align: left;
				}

				&.completed {
					border-left: solid 1px #ddd;

					.subtitle, .empty-state {
						padding-left: 20px;
					}

					.certificate-list {
						.certificate-preview {
							margin: 20px 0 0 19px;
						}
					}
				}

				.subtitle {
					font-size: 10px;
					text-transform: uppercase;
					font-weight: bold;
					color: $tertiary-grey;
					margin-bottom: 15px;
				}
			}

			@include responsive-range(one-column, $header-ranges) {
				.subtitle {
					font-size: 20px;
					font-weight: 300;
					color: #757474;
					margin-bottom: 15px;
					margin-top: 15px;
					padding-bottom: 10px;
					padding-top: 10px;
				}
			}

			&.in-progress {
				.certificate-list {
					.certificate-preview {
						.preview-image {
							opacity: 0.5;
							pointer-events: none;
						}

						.course-title {
							color: $tertiary-grey;
						}
					}
				}
			}

			.certificate-preview {
				margin: 20px 20px 0 0;
				width: 226px;

				.preview-image {
					width: 100%;
					height: 174px;
					border: solid 1px #ddd;
					cursor: pointer;
					background-image: url(assets/cert-preview.png);
				}

				.course-title {
					font-size: 16px;
					line-height: 18px;
					font-weight: bold;
					text-transform: uppercase;
					color: $primary-grey;
					font-family: "Open Sans Condensed";
					margin: 11px 0 15px;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.completed-date {
					font-size: 10px;
					color: $tertiary-grey;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}
}
