@import '~@nti/style-common';

.nti-content-breadcrumb {
	.breadcrumb-list {
		list-style: none;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		font-size: 0.625rem;
		padding: 0px;
		color: var(--tertiary-grey);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.crumb {
			position: relative;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: nowrap;
			max-width: 100%;
			&:not(.last)::after {
				flex: 0 0 auto;
				content: '/';
				padding: 0 0.3em;
			}

			&, span {
				flex: 0 1 auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.last {
				flex: 0 0 auto;
				color: $primary-blue;
			}
		}
	}

	.placeholder {
		.crumb {
			span {
				display: inline-block;
				width: 100%;
				height: 0.75rem;
				background: var(--tertiary-grey);
				opacity: 0.5;
				text-indent: -1000px;
				overflow: hidden;
				line-height: 0;

				&::before {
					content: 'WWWWWWWWW';
				}
			}

			&.last span {
				background: $primary-blue;
			}
		}
	}
}
