@import '~@nti/style-common';

.stream-bookmark {
	background: #fff;
	border: 1px solid #eaeaea;

	.heading {
		padding: 0 20px;
		border-style: solid;
		border-color: #eaeaea;
		border-width: 0 0 1px 0;
		font: normal 500 14px/38px 'Open Sans', sans-serif;
		color: var(--tertiary-grey);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		.username {
    		color: var(--primary-blue);
		}
	}

	.bookmark-content {
		min-height: 100px;
		display: flex;
		padding: 20px;
		position: relative;

		.bookmark-charms {
			z-index: 1;
			position: absolute;
			top: 0;
			right: 0;

			.bookmark-favorite {
				background-image: url(./assets/favorite_active.png);
				background-repeat: no-repeat;
				margin: 0 10px 0 0;
				padding: 0;
				height: 24px;
				width: 14px;
				vertical-align: top;
			}
		}

		.bookmark-icon {
			width: 54px;
			height: 66px;
			box-shadow:
				inset 0 0 0 1px rgba(0, 0, 0, 0.3),
				-1px 1px 3px 0 rgba(0, 0, 0, 0.35);
		}

		.bookmark-context {
			padding-left: 15px;
			flex-grow: 1;

			.page-title {
				color: var(--primary-grey);
				font-size: 16px;
				line-height: 22px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}
