@import '~@nti/style-common';

$header-ranges: (
	one-column: (null, 574px),// 455 + 16 padding * 2
	two-column: (575px, null)
);

.achievement-group {
	background-color: white;
	color: var(--primary-grey);

	@include responsive-range(two-column, $header-ranges) {
		padding: 25px 20px;
		min-width: 400px;
	}

	@include responsive-range(two-column, $header-ranges) {
		.content {
			display: flex;
		}
	}

	.content {
		.items-container {
			@include responsive-range(two-column, $header-ranges) {
				width: 50%;
				padding: 10px 0;

				.item-list {
					display: flex;
					flex-wrap: wrap;
				}

				.empty-state {
					font-size: 14px;
					font-weight: 400;
					color: var(--tertiary-grey);
					font-style: italic;
					text-align: left;
				}

				.subtitle {
					font-size: 10px;
					text-transform: uppercase;
					font-weight: bold;
					color: var(--tertiary-grey);
					margin-bottom: 15px;
				}

				&.completed {
					border-left: solid 1px #ddd;
					padding-left: 20px;
				}
			}

			@include responsive-range(one-column, $header-ranges) {
				.subtitle {
					font-size: 20px;
					font-weight: 300;
					color: var(--secondary-grey);
					margin-bottom: 15px;
					margin-top: 15px;
					padding-bottom: 10px;
					padding-top: 10px;
				}
			}
		}
	}
}
