.nti-profile-memberships {
	&.profile-tab-container { // applies when this is the main profile tab content
		.profiles-entity-list {
			&.community {
				.entity-list-items {
					> * {
						min-height: 200px;
						background: #f7f7f7;
						display: block;

						.entity-card {
							display: block;
						}

						.avatar-container {
							height: 131px;
							overflow: hidden;
							position: relative;

							.avatar {
								position: absolute;
								width: 100%;
								top: 50%;
								left: 0;
								right: 0;
								transform: translateY(-50%);
							}
						}

						.username {
							display: block;
							padding: 0 9px;
							line-height: 2.5;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}

			&.dynamicfriendslist { // aka groups
				.entity-list-items {
					> * {
						background: #f7f7f7;
						display: flex;

						.avatar-container {
							width: 72px;
							height: 72px;
							flex: 0 0 auto;

							.avatar {
								width: 100%;
							}
						}

						.username {
							flex: 1 1 auto;
							display: block;
							padding: 0 9px;
							line-height: 2.5;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}
		}
	}
}
