@import "~nti-style-common";

.profile-update-education-field {
	.education-school-field .nti-select-input {
		width: 400px;

		.options {
			max-height: 300px;
			overflow: auto;
		}
	}

	.education-graduation-date-field {
		.nti-select-input {
			width: 200px;
		}

		.nti-number-input {
			width: 200px;
		}
	}
}
