@import '~@nti/style-common';

.user-profile-card {
	margin-bottom: 5px;
	padding: 20px 40px;
	background-color: white;
	font-size: 0.875em;

	&.empty-state {
		.user-profile-card-header {
			margin: 3rem 0;
			padding: 0;
			border-bottom: none;
		}

		h2 {
			color: var(--tertiary-grey);
			text-align: center;
		}
	}

	&.small {
		padding: 10px;
	}

	.entries {
		.profile-experience-item {
			& > div {
				hyphens: auto;
				word-break: break-all;
				word-break: break-word;
			}
		}
	}
}

.user-profile-card-header {
	margin-bottom: 0.5em;
	padding-bottom: 0.625rem;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	flex-direction: row;
	align-items: center;

	h2 {
		flex: 1 1 auto;
		color: var(--primary-grey);
		margin: 0;
		font-size: 1.5rem;
		font-weight: 300;
		text-transform: capitalize;
	}

	.user-profile-card-private-pill {
		flex: 0 0 auto;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: 0.1rem 0.625rem;
		background: var(--border-grey-light);
		border-radius: 0.625rem;
		color: var(--secondary-grey);
		font-weight: 600;

		& > *:first-child {
			margin-right: 0.25rem;
		}
	}
}
