.profiles-entity-list {
	.entity-list-items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 9px;
		font-size: 1rem;
	}
}

.is-ie {
	.profiles-entity-list {
		.entity-list-items {
			display: flex;
			flex-wrap: wrap;

			li {
				margin-bottom: 5px;

				a {
					width: 200px;
				}
			}
		}
	}
}
